{% extends "auctions/layout.html" %}

{% block body %}

    <div class="search-container">
        <div class="search-bar">
            
            <form action="{% url 'auctions:refined_view' %}" method="get">
                <input class="search_bar" type="text" placeholder="Search Listing..." name="q">
                <select name="category" style="margin-left: 30px;">
                    <option value="" selected disabled hidden>Category</option>
                    {% for category in categories %}
                        <option value="{{category.id}}" >{{category}}</option>
                    {% endfor %}
                </select>
                <button type="submit" style="display: block; margin: 15px auto; color: white; background-color: brown; border-radius: 10px;">Search</button>
            </form>
        </div>
        
    </div>
    <hr>
    <h2>Active Listings</h2>
    <ul>
        {% for listing in listings %}
            <div style="margin-bottom: 20px; margin-top: 50px; background-color: rgb(17, 232, 232); border-radius: 10px; width: fit-content; padding: 40px;">
                <a href="{% url 'auctions:listing' listing.id %}">
                    <h3 style="text-shadow: 2px 2px 5px lightblue; font-weight: bold;">{{listing.title}}</h3>
                    <p style="color: blue; font-weight: bold; font-size: x-small;">Created by: {{listing.creator}}</p>
                    <img src="{{listing.ImageUrls.url}}" alt="{{listing.ImageUrls.url}}" width="500" height="500">
                    <p style="text-decoration:underline;">{{listing.description}}</p>
                    <p>
                        <span style="color: red; font-weight: bold;">Time Left: <p style="color: black; font-weight: bold;">{{listing.time_left_str}}</p></span>
                        <span style="color: green; font-weight: bold;">Current Bid: <p style="color: black; font-weight: bold;">{{listing.BidVal}} €</p></span>
                    </p>
                </a>
                {% if user.is_authenticated %}
                    <form action="{% url 'auctions:add_to_watchlist' listing.id user.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button class="watchlist_btn" style="background-color: yellowgreen; font-size: 12px; font-weight: bold;"> Add to Watchlist </button>
                    </form>
                {% else %}
                    <form action="{% url 'auctions:login' %}">
                        <button class="watchlist_btn" style="background-color: yellowgreen; font-size: 12px; font-weight: bold;"> Add to Watchlist </button>
                    </form>
                {% endif %}
            </div>
        {% empty %}
            <li style="color: red; font-size: 18px;">No listings available</li>
        {% endfor %}
    </ul>
{% endblock %}
