{% extends "auctions/layout.html" %}

{% block body %}
    <h1 style="text-decoration: underline; color: rgb(131, 140, 112); margin: 50px; text-align: left;">My Listings</h1>
        {% for listing in mylistings %}
            <div style="margin: 20px; margin-top: 50px; background-color: rgb(17, 232, 232); border-radius: 10px; width: fit-content; padding: 40px;">
                <h3 style="text-shadow: 2px 2px 5px lightblue; font-weight: bold;">{{listing.title}}</h3>
                <p style="color: #0000ff; font-weight: bold; font-size: x-small;">Created by: {{listing.creator}}</p>
                <img src="{{listing.ImageUrls.url}}" alt="{{listing.ImageUrls.url}}" width="500" height="500">
                <p style="text-decoration:underline;">{{listing.description}}</p>
                <p>
                    <span style="color: red; font-weight: bold;">Time Left: <p style="color: black; font-weight: bold;">{{listing.time_left_str}}</p></span>
                    <span style="color: green; font-weight: bold;">Current Bid: <p style="color: black; font-weight: bold;">{{listing.BidVal}} €</p></span>
                    <span style="color: black; font-weight: bold;"> 
                        Status: 
                        {% if listing.Status %} 
                        <span style="color: green; font-weight: bold;"> Active </span> 
                        {% else %}
                        <span style="color: red; font-weight: bold;"> Closed </span> 
                        {% endif %}
                    </span>
                </p>
            </div>
        {% empty %}
            <li style="color: red; font-size: 18px;">No listings available</li>
        {% endfor %}
{% endblock %}

